*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: violet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body .cobrinha {
    align-items: center;
    justify-content: space-between;
}